<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin filename="ign_ros2_control-system"
            name="ign_ros2_control::IgnitionROS2ControlPlugin">

            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>

            <!-- Wheel information -->
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_seperation>0.35</wheel_seperation>
            <wheel_radius>0.05</wheel_radius>

            <!-- Limits -->
            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>

            <!-- Output -->
            <odom_publish_frequency>1</odom_publish_frequency>
            <topic>cmd_vel</topic>

        </plugin>
    </gazebo>


</robot>